{% load static %}
{% load static tailwind_tags %}
{% load django_htmx %}
{% load lucide %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<title>{% block title %}My Site{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="A layout example that shows off a responsive product landing page.">
		<title>HTMX Todos</title>

		<!-- <script src="https://unpkg.com/lucide@latest"></script> -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		{% tailwind_css %}
		{% htmx_script %}

		{% block extra_js %}
		{% endblock %}
	</head>

	<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
		<c-header></c-header>
		{% if user.is_authenticated %}
			{% include 'sidebar.html' %}
		{% else %}
			{% block main_content %}
			{% endblock %}
		{% endif %}
		<c-footer></c-footer>
	</body>

</html>
