{% load static %}

<div class="navbar bg-base-100 shadow-sm">
    {% if user.is_authenticated %}
    <div class="flex-none">
      <label for="my-drawer-2" class="btn drawer-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path> </svg>
      </label>
    </div>
    {% endif %}
    <div class="flex-1">
      <a class="text-xl ml-3" href="{% url 'home' %}">daisyUI</a>
    </div>
    <div class="flex gap-2">
      <!-- <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" /> -->
      <c-theme_toggle></c-theme_toggle>
      <c-user_menu></c-user_menu>
    </div>
  </div>

